#main-body{
    display:flex;
    flex-direction:column;
    height: 290vh;
    font-family: "roboto",sans-serif;
    margin:0;
}
#box1 {
    background-color:#1F2937;
    flex:3;
    display:flex;
    flex-direction:column
}
#box1-header{
    flex:1;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:20px 300px 0px 300px;
}
#box1-header-logo-text{
    font-size:30px;
    font-weight: 600;
    color:white;
}
#box1-header-links{
    display:flex;
    width:500px;
    justify-content:space-around;
    font-size:21px;
    font-weight:500;
    color:grey;
}
#box1-main-content{
    flex:5;
    margin:0px 300px 50px 300px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
#box1-main-content-text{
    display:flex;
    flex-direction: column;
    width:60%;
    color:white;
}
#box1-main-content-text1{
    font-size: 45px;
    font-weight: 700;
    padding:5px;
}
#box1-main-content-text2{
    font-size: 21px;
    font-weight:400;
    color:grey;
}
#box1-main-content-image{
    display:flex;
    align-items:center;
    justify-content:center;
    width:45%;
    background-color: grey;
    height:215px
}
#box1-main-content-button{
    width:140px;
    height:40px;
    background-color:#3b82F6;
    border-width: 0;
    border-radius:10px;
    color:white;
    font-size:18px;
    font-weight:600;
}
#box2 {
    background-color: #FFFFFF;
    flex:3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#box2-heading-text{
    font-size: 40px;
    font-weight:900;
    margin-bottom:80px;
}
#box2-subtexts{
    display:flex;
    flex-wrap: wrap;
}
.box2-subtext{
    margin:0px 20px;
    width:250px;
}
.box2-subtext-box{
    border: 5px solid #3b82F6;
    border-radius: 30px;
    height:240px;
    width:240px;
}
.box2-subtext-text{
    margin-top: 6px;
    width:230px;
    padding-left:10px;
    font-size: 22px;
    font-weight: 400;
    color:grey;
    text-align:center;
}
#box3 {
    background-color: #E5E7EB;
    flex:3;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0px 230px;
}
#box3-main-text{
    font-size: 45px;
    font-weight: 300;
}
#box3-last-text{
    margin-left: 900px;
    font-size:30px;
    font-weight:700;
}
#box5 {
    background-color: #1F2937;
    flex:1;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:25px;
    color:#FFFFFF
}

#box4{
    flex:3;
    background-color: #FFFFFF;
    display:flex;
    justify-content:center;
    align-items:center;
}
#box4-main-content{
    background-color: #3b82F6;
    width:1000px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:65px 100px;
    border-radius: 10px;
}
#box4-main-content-text1{
    color:white;
    font-weight: 500;
    font-size: 32px;
}
#box4-main-content-text2{
    color:white;
    font-weight:400;
    font-size:22px;
}
#box4-main-content-button-text{
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    color:white;
    border-style:solid;
    background-color: #3b82F6;
    font-size:22px;
    font-weight:300;
    padding:10px 35px;

}