/* selecting by descendant combinator, it selects all div directly nested within it*/
main div {
  /* Our cool CSS */
}
/*Selecting by child combinator*/
/* The divs with the class "child" will get selected by this */
main > div {
  /* Our cool CSS */
}

/* The divs with the class "grand-child" will get selected by this */
main > div > div {
  /* More cool CSS */
}
/* Only the div with the classes "child group2" will get selected by this */
.group1 + div {
  /* Our cool CSS */
}
/* Only the div with the classes "child group3" will get selected by this */
.group1 + div + div {
  /* More cool CSS */
}
/* All of .group1's div siblings - in this case the 2nd and 3rd .child divs, will get selected by this */
.group1 ~ div {
  /* Our cool CSS */
}
.group1:first-child{/* “Select an element with class .parent if it is the first child of its parent.”*/
  font-size: 25px;
}
/* ::before creates a pseudo-element that appears before the element's actual content. */
.box::before {
  content: "This should show before the other content. ";
  background-color: yellow;
}
/* Selects the second child <div> inside an element with class .parent. */
.parent> div:nth-child(2) {/* “Select the second child of .parent.” */
  color: violet;
}
/* :hover applies these styles when the mouse pointer is placed over the element with id="google-link". */
#google-link:hover{ 
  color:violet;
}
#google-link:link{ 
  color:red;
}
/* :visited applies styles to the #google link after the user has visited its destination. */
#google:visited{
  color:darkred;
}
.myList:nth-child(5){/*select 5th element of the list */
color:blue;
}
.myList:nth-child(2n+2) {
color:pink;
}